* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

html {
    scroll-behavior: smooth;
}


.container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.my-info {
    display: flex;
    list-style: none;
    gap: 1.8rem;
}

nav {
    background-color: rgb(76, 134, 115);
    padding: 15px 30px;
}

.my-name {
   text-align: center;
  height: 80vh;
 background: url("./src/sky.png");
 position: relative;
 padding-top: 100px;
  
}

.font {
    font-family: "Playwrite AU SA", cursive;
    font-size: 5rem;
    color: white;
}

.font-p {
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
}

.second-container {
    height: 100vh;
    background-color: rgb(247, 244, 238);
}

.my-image {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    position: relative;
    top: 30px;
    object-fit: cover;
    overflow: clip;
    
}

.middle-part {
    display: flex;
    justify-content: center;
}

.about {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.about-t {
    font-size: 2rem;
    color: black;
    position: relative;
    top: 10px;
}

.para {
    width: 500px;
    margin: auto;
    position: relative;
    top: 30px;
    color: black;
}

.my-cv {
    margin-top: 50px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    transition: 1s ease;
}

.my-cv:hover {
    background-color: white;
    color: black;
}

.forth-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 150px;
}

.my-exprienced {
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 2rem;
}

.forth-section {
    height: 100vh;
    background-color: rgb(247, 244, 238);
}

.my-artical {
    margin: 20px;
}

.forth {
    gap: 2rem;
}

.fifth-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 244, 238);
}

.contact-details {
    margin-top: 80px;
}

.name {
    font-size: 1.2rem;
    border-radius: 30px;
    border: 2px solid;
}

.form-control {
    margin-top: 15px;
}

.text-area-1 {
    width: 490px;
    height: 250px;
}

.fifth-h {
   position: relative;
   top: 30px;
   font-size: 2rem;
   left: 130px;
}

.form-button {
    margin-top: 10px;
}

.bttn {
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid;
    background-color: black;
    color: white;
    transition: 1s ease;
}

.bttn:hover {
    background-color: white;
    color: black;
}

.icons {
    width: 100px;
    height: 100px;
}

.icons2 {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icons span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 1;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icons.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icons.open span:nth-child(2) {
   opacity: 0;
}

.hamburger-icons.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icons span:first-child {
    transform: none;
}

.hamburger-icons span:first-child {
    opacity: 1;
}

.hamburger-icons span:first-child {
    transform: none;
}